################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/GameStore.API/obj
/GameStore.API/bin/Debug/net9.0
/.vs
/GameStore.API/GamesStore.db
/GameStore.API/DB
